.LeftPanel {
  width: 100%;
}

.list-goals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  background-color: var(--color-green-bg);
  box-shadow: var(--shadow-green-modal);
  border-radius: 24px;
  height: 87vh;

  width: 100%;
  padding: 12px;
}
