@import url('@/styles/mixins.pcss');

.navButton {
  min-height: 44px;
  padding: 12px 16px;
  gap: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  border-radius: 24px;

  flex-direction: row;

  background: var(--background);
  color: var(--foreground);
  text-decoration: none;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  font-size: 14px;
  line-height: 17px;
}

.navButton:hover {
  transform: translateY(-1px);
  scale: 102%;
}

.navButton:active {
  transform: translateY(0) scale(0.98);
}

.navButtonActive {
  background: var(--primary-default);
  color: var(--primary-foreground);
}

.navButtonText {
  @mixin mobile {
    display: none;
  }
}
