BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL="http://localhost:3000"
AUTH_DISCORD_ID="1466013032487583775"
AUTH_DISCORD_SECRET="secret"
DATABASE_URL="postgresql://postgres:e3ofg9knnY9ovcAh@localhost:5432/gameli"
