:root {
  /* ---------- Base Colors ---------- */
  --background: #dedede;
  --foreground: #333;
  --border: #ccc;

  /* ---------- Primary ---------- */

  --primary-foreground: #fff;
  --primary-default: #23ac53;
  --primary-hover: #187338;
  --primary-active: #37c569;

  /* ---------- Disabled ---------- */

  --disabled-background: #ececec;
  --disabled-foreground: #9f9f9f;

  /* ---------- Card ---------- */

  --card-default: #fff;
  --card-foreground: #333;

  /* ---------- Danger ---------- */

  --danger-foreground: #fff;
  --danger-default: #be3939;
  --danger-hover: #a32c2c;
  --danger-active: #df4848;

  /* ---------- Secondary ---------- */

  --secondary-foreground: #333;
  --secondary-default: #ebebeb;
  --secondary-hover: #d5d5d5;
  --secondary-active: #f2f2f2;

  /* ---------- Levels ---------- */

  --level-low: #99df36;
  --level-medium: #2995d8;
  --level-high: #d22121;
  --level-very-high: #dae817;

  /* ---------- progressBar ---------- */
  --progress-bar-current: #4caf50;
  --progress-bar-add: #6aef6e;
  --progress-bar-fon: #515151;

  /* ---------- TaskComplete ---------- */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground);
  min-height: 100dvh;
  width: 100%;
  background-color: var(--background);
}

#root {
  height: 100%;
  width: 100%;
}

button {
  border: none;
  background: var(--primary-default);
  cursor: pointer;
}
