@import url('@/styles/mixins.pcss');

.header {
  @mixin mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    right: 0;
  }

  @mixin tablet {
    max-width: 720px;
    top: 12px;
    width: 100%;
    margin: 0 auto;
  }
}

.headerInner {
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @mixin mobile {
    border-top: 1px solid var(--border);
  }
}

.nav {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
