.header {
  position: fixed;
  z-index: 100;

  inset-inline: 12px;
  bottom: calc(12px + env(safe-area-inset-bottom));

  display: flex;
  justify-content: center;

  @mixin tablet {
    position: relative;
    inset-inline: 0;
    width: 100%;
    margin-inline: auto;
  }
}

.headerInner {
  width: 100%;
  max-width: 720px;

  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  border-radius: 40px;
}

.nav {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.profileButton {
  aspect-ratio: 1 / 1;
  height: 100%;
}
