@import url('@styles/mixins.pcss');

.profile {
  display: flex;
  gap: 24px;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @mixin tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dayList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.page {
  width: 100%;
  height: 100%;
}

.pageTitle {
  font-weight: 700;
  color: var(--text);
}

.tasksBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
