.profile {
  display: flex;
  gap: 24px;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-top: 24px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.task {
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  background: var(--bg);
  color: var(--text);

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.taskCompleted {
  background: var(--bg-muted);
}

.taskTitleCompleted {
  text-decoration: line-through;
  color: var(--text-muted);
}

.createButton {
  justify-content: center;
}

.taskButtons {
  display: flex;
  gap: 4px;
}
