.profile {
  display: flex;
  gap: 24px;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @mixin tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dayList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.page {
  width: 100%;
  height: 100%;
}

.pageTitle {
  font-weight: 700;
  color: var(--text);
}

.tasksBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noDaysMessage {
  padding: 12px;
  border-radius: 16px;
  background: var(--secondary-default);
  color: var(--secondary-foreground);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  max-width: 400px;
}

.noTasksMessage {
  padding: 12px;
  border-radius: 16px;
  background: var(--primary-default);
  color: var(--primary-foreground);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  max-width: 400px;
}

.noCategoriesMessage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  max-width: 400px;
}
