.App {
  text-align: center;
  display: grid;
  grid-template-columns: 35% 40% 25%;
  height: 98vh;
  padding: 1vh;
  background-image: url('/public/images/background.jpg');
  background-size: contain;
}
