.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  width: 100%;
  padding: 8px 16px;
  border-radius: 18px;

  background: var(--bg-elevated);
  color: var(--text);

  backdrop-filter: blur(2px) saturate(180%);

  border: 3px solid rgb(255 255 255 / 0.7);
  font-size: 0.7rem;
}

.categoryHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.categoryFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.categoryEditButton {
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 50%;
  cursor: pointer;
  background: var(--bg-muted);

  transition: all 0.3s ease;
}

.categoryEditButton:hover {
  background: var(--warning);
  color: var(--primary-foreground);
}

.categoryDeleteButton {
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 50%;
  background: var(--bg-muted);
  cursor: pointer;

  transition: all 0.3s ease;
}

.categoryDeleteButton:hover {
  background: var(--danger);
  color: var(--primary-foreground);
}

.categoryName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categoryDescription {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.categoryLevel {
  min-width: 28px;
  border: none;
  background: var(--secondary);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
}

.categoryButtons {
  display: flex;
  gap: 4px;
  align-items: center;
}
