.LeftPanelColumn {
    margin-top: 15px;
}


.LeftPanelColumn h2{
    padding: 20px;
    color: aqua;
    font-size: 1.2em;
    margin-right: 8px;
    border-radius: 20px;
    background-color: rgba(36, 107, 36, 0.508);
    
}

.LeftPanelColumn p {
    color: white;
}


.LeftPanelItem {
    margin: 8px 4px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: rgba(34, 176, 56, 0.6);

}

