.modal {
  width: 420px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Заголовок */
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Форма */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Поле */
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: var(--disabled-foreground);
}

/* Ошибка */
.error {
  color: var(--danger-default);
  font-size: 13px;
}

/* Кнопка */
.submit {
  margin-top: 10px;
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
}
