.taskPage {
  text-align: center;
  padding: 15%;
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

.category {
  font-weight: 500;
  font-size: 30px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

.containerTime {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 20px;
}

.containerForComplete {
  width: 246px;
  height: 110px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
}

.textForComplete {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
