.taskPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

.category {
  font-weight: 500;
  font-size: 30px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}

.containerTime {
  border-radius: 40px;
  padding: 20px;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnSubmit {
  margin-top: 10px;
}

.containerForCompleet {
  width: 246px;
  height: 110px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
}

.textForCompleet {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
