.task {
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  background: var(--bg);
  color: var(--text);

  border: 2px solid var(--border);

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.taskContent {
  padding-right: 8px;
}

.taskTitle {
  font-size: 0.6em;
}

.taskDescription {
  font-size: 0.6em;
}

.taskCompleted {
  background: var(--bg-muted);
}

.taskTitleCompleted {
  text-decoration: line-through;
  color: var(--text-muted);
}

.taskButtons {
  display: flex;
  gap: 4px;
}
