.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  width: 100%;
  border-radius: 8px;

  @media (width >= 768px) {
    border-radius: 16px;
    width: 400px;
    max-width: 100%;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: var(--danger);
  padding-top: 8px;
}
