.RightPanel {
    color: white;
}

.list-item {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: auto;
    gap: 2px;
}
.RightPanelItem  {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    border-radius: 70px;
    margin: auto;
    

}
.RightPanelItem p {
    margin: 8px;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}
.circl {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border:7px solid blue; */
    box-shadow: 0 0 20px blue,
    inset 0 0 25px rgba(0, 0, 255, 0.612);
    display: flex;
    align-items: center;
    justify-content: center;
}




.state {
    display: flex;
    padding: 10px 5px;
    /* height: 80px; */
    
}


.state-item {
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgb(49, 245, 255);
    box-shadow: 0 0 20px rgb(106, 248, 255),
    inset 0 0 20px rgb(106, 248, 255);
    color: white;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* .state button {
    background-color: transparent;
    margin: 0;
    padding: 0;
} */
.modal-invent {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background-color: rgba(34, 176, 56, 0.3);
    box-shadow: 5px 5px 20px rgb(106, 255, 47);
    border-radius: 6%;
}
.modal-invent h2 {
    margin: 0;
    margin-top: 10px;
    font-size: 2em;
}
.modal-list {
    border: 2px solid red;
}