.title {
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.error {
  color: var(--danger-text);
}

.containerInput {
  display: flex;
}

.containerInput label {
  font-size: 30px;
}
