.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: var(--text);

  background: var(--card-default);

  backdrop-filter: blur(12px) saturate(180%);

  border-radius: 16px;

  padding: 24px;
}
