.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: var(--text);

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );

  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);

  border-radius: 16px;
  padding: 8px;

  @media (min-width: 768px) {
    padding: 24px;
  }
}
